html{
    font-size: 16px
}
body {
    background: linear-gradient(120deg,#e66465, #9198e5);
    height: 100vh;
}
section{
    display: flex;
}

ul{
    display: flex;
    list-style: none;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
}
li{
    margin: auto;
    padding: 0.5rem;
    /* border: solid 1px black; */
}

header{
    display: flex;
    justify-content: end;
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.05);
    margin: 0.8rem;
}

header > img{
    width: 3rem;
    border-radius: 100%;
}

.chart{
    background-color: rgba(0, 0, 0, 0.05);
    width: 35vw;
    height: 20rem;
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
    padding-top: 8rem;
}

#map{
    height: 30rem;
    width: 60vw;
    }

.iss-title{ 
    display: flex;
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
}
.iss{

    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
}